
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #141414;
}


.card{
    width: 450px;
    height: 750px;
    background-color: #1F1F1F;
    border-radius: 15px;
    padding: 30px;
}

img{
    border-radius: 50%;
    height: 100px;
    display: flex;
    justify-self: center;
    margin: 10px;
    

}
h1{
font-size:25px;
color:#ffffff;
margin-top: 20px;

}

h2{
    font-size: 16px;
    color: #B6CD6A;
}

.info{
    text-align: center;
    

}


.btn a{
    background-color: #333333;
    text-align: center;
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    
}

a:hover {
    color: #B6CD6A;
}